.login-app-title {
    font-size: 48px;
}

#login-input-container, #login-button-container {
     margin-top: 24px;
}

ons-input {
     margin-top: 8px;
}

#sign-in-button, #sign-up-button {
    margin: 4px;
}

.login-page-table {
    display: table;
    height: 100%;
    width: 100%;
}

.login-page-table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
